* {
    padding: 0;
    margin: 0;
    max-width: 1440px;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    background-color: #2E948A;
    height: 117px;
    justify-content: space-around;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
    padding: 20px;
}

.sessao_0, .sessao_1 {
    display: grid;
    grid-template-columns: repeat(2, 520px);
    grid-row: auto;
    justify-content: center;
    align-items: center;

}
.sessao_0 {
    padding: 70px;
    column-gap: 100px;
}

.sessao_0 h1 {
    position: relative;
    left: 60px;
    font-weight: 700;
    font-size: 47px;
    color: #009688;

}

.sessao_0 p {
    position: relative;
    padding: 40px 60px;
    width: 400px;
    font-weight: 300;
    font-size: 20px;

}

.sessao_0 img {
    position: relative;
    left: 20px;
}

.sessao_1 {
    column-gap: 100px;
    height: 1600px;
    background: #E5E5E5;;
}
.sessao_1 img {
    width: 515px;
    height: 260px;
}

.sessao_1 h2 {
    position: relative;
    padding: 20px 0;
    font-weight: 500;
    font-size: 30px;
    color: #FF4081;
}

.sessao_1 p {
    font-weight: 300;
    font-size: 17px;
    color: #000000;
}

.artigo {
    display: flex;
    flex-direction: column;
    padding: 100px 242px;
}

.artigo h1, .texto h1 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color:#FF4081;
}

.artigo h5 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #9D9D9D;
}

.artigo img {
    padding-top: 80px;
    width: 1032px;
    height: 460px;
}

.artigo h2 {
    position: relative;

    font-weight: 500;
    font-size: 26px;
    color:#2E948A;
}

.artigo p {
    padding: 40px 0;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.texto {
    padding-top: 50px;
    background: #F6F6F6;

}
.sessao {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(1);
    height: 680px;
    align-content: center;
    justify-content: center;
    background-color: #F6F6F6;
}

.item img {
    position: relative;
    width: 220px;
    height: 270px;
    left: 30%;

}

.sessao h3 {
    font-weight: 700;
    font-size: 29px;
    padding: 25px;
    text-align: center;
    color: #FF4081;
}

.sessao p {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.sessao button {
    position: relative;
    border: 2px solid #FF4081;
    background-color: #FF4081;
    border-radius: 62px;
    width: 215px;
    height: 40px;
    top: 5%;
    left: 30%;
}

.sessao a {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #2E948A;

}

footer ul li {
    list-style: none;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
}

footer li a {
    text-decoration: none;
    color: #ffffff;
}

footer button {
    width: 298px;
    height: 51px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 60px;
    background: none;
    border: 2px solid #ffffff;
    box-sizing: border-box;

}
