* {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
  }
  
  header {
    display: flex;
    background-color: #2e948a;
  }
  
  header .container {
    display: flex;
    width: 90%;
    max-width: 1440px;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    padding-left: 80px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fdfdfd;
    padding: 24px;
  }

.sessao_0 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    width: 90%;
    max-width: 1440px;
}


.sessao_0 h1 {
    padding-left: 60px;
    font-weight: 700;
    font-size: 47px;
    color: #009688;

}

.sessao_0 p {
    padding: 40px 60px;
    width: 400px;
    font-weight: 300;
    font-size: 20px;

}

.sessao_1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-row: auto;
    justify-content: space-evenly;
    padding: 100px;
    column-gap: 80px;
    row-gap: 50px;
    width: 90%;
    max-width: 1440px;
    background: #E5E5E5;
}

.sessao_1 img {
    width: 515px;
    height: 260px;
}

.sessao_1 h2 {
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 30px;
    color: #FF4081;
}

.sessao_1 p {
    width: 515px;
    font-weight: 300;
    font-size: 17px;
    color: #000000;
}

.artigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    max-width: 1440px;
    
}

.artigo h1, .texto h1 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color:#FF4081;
}

.artigo h5 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #9D9D9D;
}

.img_post {
    text-align: center;
    padding-top: 80px;
}
.img_post img{
    width:1040px; 
    height: 500px;
}

.artigo h2 {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    color:#2E948A;
}

.paragrafo {
    padding: 30px 100px 30px 100px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.texto h1 {
    max-width: 1440px;
    background: #F6F6F6;

}
.sessao {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  max-width: 1440px;
  background-color: #f6f6f6;
}

.item img {
  width: 220px;
  height: 270px;
}

.sessao {
  padding: 50px;
  text-align: center;
}

.sessao h3 {
  font-weight: 700;
  font-size: 29px;
  text-align: center;
  padding-top: 20px;
  color: #ff4081;
}

.sessao p {
  padding: 20px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.sessao button {
  border: 2px solid #ff4081;
  background-color: #ff4081;
  border-radius: 62px;
  width: 215px;
  height: 40px;
}

.sessao a {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

footer {
    background-color: #2e948a;
  }
  
  footer .container {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
  }
  
  footer img {
    padding-left: 80px;
  }
  
  footer ul li {
    list-style: none;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
  }
  
  footer li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  footer button {
    width: 298px;
    height: 51px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 60px;
    background: none;
    border: 2px solid #ffffff;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .sessao_0 {
        flex-direction: column-reverse;
    }
    .img_post img {
        width:500px; 
        height: 250px;
    }
}

    @media (max-width: 690px) {
        .sessao {
        flex-direction: column;
        row-gap: 20px;
        
    }
    }
    
