* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    background-color: #2E948A;
    height: 117px;
    justify-content: space-around;
    align-items: center;

}

nav ul {
    display:flex;
    list-style: none;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
    padding: 20px;
}

main {
    position: relative;
}

.sessao_0 {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.titulo, .titulo1 {
    padding: 50px;
}

.titulo h1, .titulo1 h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
}

.titulo h2 {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
}
.titulo1 h2{
    font-weight: 400;
    font-size: 30px;
    color: #555555; 
}
.curso {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 50px;
}

.curso img {
    width: 380px;
    height: 385px;
}

.curso h3 {
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
    padding: 20px;
    
}
.txt {
    padding: 20px;
}
.curso p {
    font-weight: 300;
    font-size: 18px;
    color: #555555;
    padding: 20px;
}

.curso button {
    position: relative;
    padding: 15px;
    left: 30px;
    top: 20px;
    font-weight: 400;
    font-size: 20px;

    color: #ffffff;
    background-color: #419488;
    border-radius: 62px;
    border: #419488;
}

hr {
    
    position: relative;
    width: 1400px;
    left: 3%;
    background-color:#C4C4C4;
}

.sessao {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(1);
    height: 700px;
    align-content: center;
    justify-content: center;
    background-color:#F6F6F6;
}

.item img {
    position: relative;
    width: 220px;
    height: 270px;
    left: 30%;
    
}
.sessao h3 {
    font-weight: 700;
    font-size: 29px;
    padding: 25px;
    text-align: center;
    color: #FF4081;
}
.sessao p {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    color: #000000;
}

.sessao button {
    position: relative;
    border: 2px solid #FF4081;
    background-color: #FF4081;
    border-radius: 62px;
    width: 170px;
    height: 40px;
    top: 5%;
    left: 33%;
}
.sessao a {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.sessao_2 {
    position: relative;
    left: 10%;
    padding: 70px;
    font-weight: 400;
    font-size: 25px;
    color: #009688;
}

.sessao_3 {
    display: grid;
    grid-template-columns: 104px 400px 104px 400px;
    grid-template-rows: repeat(2, 104px);
    justify-content: center;
    align-items: center;
    row-gap: 70px;
    column-gap: 50px;
    height: 450px;
}

.sessao_3 p {
    font-weight: 300;
    font-size: 18px;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #2E948A;

}

footer ul li{
    list-style: none;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
}

footer li a {
    text-decoration: none;
    color: #ffffff;
}

footer button {
    width: 298px;
    height: 51px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 60px;
    background: none;
    border: 2px solid #ffffff; 
    box-sizing: border-box;

}