* {
    max-width: 1380px;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    background-color: #2E948A;
    height: 117px;
    justify-content: space-around;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
    padding: 20px;
}

.sessao_0 {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.titulo,
.titulo1 {
    padding: 50px;
}

.titulo h1,
.titulo1 h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
}

.titulo h2 {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
}

.titulo1 h2 {
    font-weight: 400;
    font-size: 30px;
    color: #555555;
}

.titulo1 button, .sessao_6 button {
    width: 275px;
    height: 52px;
    box-sizing: border-box;
    border: 3px solid #FF4081;
    border-radius: 62px;
    background:none;
}

.titulo1 button {
    position: relative;
    top: 40px;
}

.titulo1 a, .sessao_6 a {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #FF4081;
}

.curso {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 70px;
}

.curso img {
    width: 380px;
    height: 385px;
}

.curso h3 {
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
    padding: 20px;

}

.txt {
    padding: 20px;
}

.curso p {
    font-weight: 300;
    font-size: 18px;
    color: #555555;
    padding: 20px;
}

.curso button {
    position: relative;
    padding: 15px;
    left: 30px;
    top: 20px;
    font-weight: 400;
    font-size: 20px;

    color: #ffffff;
    background-color: #419488;
    border-radius: 62px;
    border: #419488;
}

hr {
    position: relative;
    width: 1300px;
    left: 3%;
    background-color: #C4C4C4;
}

.sessao,
.sessao_5 {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: #F6F6F6;
}

.item img {
    position: relative;
    width: 220px;
    height: 270px;
    left: 20%;
}

.sessao{
    padding: 50px;
}
.sessao h3 {
    font-weight: 700;
    font-size: 29px;
    padding: 25px;
    text-align: center;
    color: #FF4081;
}

.sessao p {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.sessao button {
    position: relative;
    border: 2px solid #FF4081;
    background-color: #FF4081;
    border-radius: 62px;
    width: 215px;
    height: 40px;
    top: 5%;
    left: 23%;
}

.sessao a {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.sessao_2 {
    position: relative;
    left: 10%;
    padding: 50px 0 ;
    font-weight: 400;
    font-size: 25px;
    color: #009688;
}

.sessao_3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 70px;
    padding: 50px;
}

.sessao_3 img  {
    padding-left: 70px;
}


.sessao_3 p {
    font-weight: 300;
    font-size: 18px; 
}

.sessao_4 {
    padding: 40px;
    font-weight: 400;
    font-size: 25px;
    color: #009688;
    background-color: #F6F6F6;
}

.sessao_5 {
    padding: 50px;
}

.item2 img {
    width: 340px;
    height: 190px;
}

.sessao_5 h3 {
    font-weight: 700;
    font-size: 25px;
    color: #009688;
}

.sessao_5 p {
    font-weight: 300;
    font-size: 20px;
    color:#000000;
}

.sessao_6 {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #F6F6F6;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #2E948A;

}

footer ul li {
    list-style: none;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
}

footer li a {
    text-decoration: none;
    color: #ffffff;
}

footer button {
    width: 298px;
    height: 51px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 60px;
    background: none;
    border: 2px solid #ffffff;
    box-sizing: border-box;

}