* {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

html{
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: #2e948a;
}

header .container {
  display: flex;
  width: 90%;
  max-width: 1440px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

header img {
  padding-left: 8rem;
  width: 24.4rem;
  height: 7.7rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #fdfdfd;
  padding: 2.4rem;
}

.sessao_0 {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  padding: 5rem;
}

.titulo,
.titulo1 {
  padding: 5rem;
}

.titulo h1,
.titulo1 h1 {
  font-weight: 700;
  font-size: 6rem;
  color: #ff4081;
}

.titulo h2 {
  font-weight: 400;
  font-size: 2rem;
  color: #555555;
}

.titulo1 h2 {
  font-weight: 400;
  font-size: 3rem;
  color: #555555;
}

.titulo1 button,
.sessao_6 button {
  width: 27.5rem;
  height: 5.2rem;
  box-sizing: border-box;
  border: 3px solid #ff4081;
  border-radius: 62px;
  background: none;
}

.titulo1 button {
  position: relative;
  top: 4rem;
}

.titulo1 a,
.sessao_6 a {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  color: #ff4081;
}

.sessao_0 img {
  width: 40rem;
  height: 41rem;
}

.curso {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  padding: 7rem;
}

.curso img {
  width: 38rem;
  height: 38.5rem;
}

.curso h3 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #ff4081;
  padding: 2rem;
}

.txt {
  padding: 2rem;
}

.curso p {
  font-weight: 300;
  font-size: 1.8rem;
  color: #555555;
  padding: 2rem;
}

.curso button {
  padding: 1.5rem;
  font-weight: 400;
  font-size: 2rem;

  background-color: #419488;
  border-radius: 62px;
  border: #419488;
}

.curso button a {
  text-decoration: none;
  color: #ffffff;
}


hr {
  position: relative;
  left: 5%;
  width: 90%;
  max-width: 1250px;
  background-color: #c4c4c4;
}

.sessao,
.sessao_5 {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  background-color: #f6f6f6;
}

.item img {
  width: 22rem;
  height: 27rem;
}

.sessao {
  padding: 5rem;
  text-align: center;
}

.sessao h3 {
  font-weight: 700;
  font-size: 2.9rem;
  text-align: center;
  padding-top: 2rem;
  color: #ff4081;
}

.sessao p {
  padding: 2rem;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  color: #000000;
}

.sessao button {
  border: 2px solid #ff4081;
  background-color: #ff4081;
  border-radius: 62px;
  width: 21.5rem;
  height: 4rem;
}

.sessao a {
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}

.sessao_2 {
  display: flex;
  padding: 5rem;
  font-weight: 400;
  font-size: 2.5rem;
  color: #009688;
}

.sessao_3 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 7rem;
  padding: 5rem;
  width: 90%;
  max-width: 1440px;
}

.sessao_3 img {
  padding-left: 5rem;
}

.sessao_3 p {
  font-weight: 300;
  font-size: 1.8rem;
}

.sessao_4 {
  max-width: 1440px;
  padding: 4rem;
  font-weight: 400;
  font-size: 2.5rem;
  color: #009688;
  background-color: #f6f6f6;
}

.sessao_5 {
  padding: 5rem;
}

.item2 img {
  width: 34rem;
  height: 19rem;
}

.sessao_5 h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #009688;
}

.sessao_5 p {
  padding-right: 4rem;
  font-weight: 300;
  font-size: 2rem;
  color: #000000;
}

.sessao_6 {
  max-width: 1440px;
  text-align: center;
  padding: 2rem;
  background-color: #f6f6f6;
}

footer {
  background-color: #2e948a;
}

footer .container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

footer img {
  padding-left: 6rem;
  width: 31.2rem;
  height: 10.2rem;
}

footer ul li {
  list-style: none;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 2rem;
}

footer li a {
  text-decoration: none;
  color: #ffffff;
}

footer button {
  width: 29.8rem;
  height: 5.1rem;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 60px;
  background: none;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .sessao_0,
  .sessao,
  .sessao_5,
  .curso {
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
  }
  .sessao_2,
  .sessao_4 {
    justify-content: center;
    text-align: center;
  }
  .sessao_3 {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 50rem));
    row-gap: 2rem;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 690px) {
  header .container {
    flex-direction: column;
    row-gap: 1.5rem;
  }  
  footer .container {
    flex-direction: column;
  }

}