* {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100vh;
}

header {
  background-color: #2e948a;
}

header .container {
  display: flex;
  width: 90%;
  max-width: 1440px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

header img {
  padding-left: 80px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
  padding: 24px;
}

.sessao_0 {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  padding: 50px;
}

.titulo,
.titulo1 {
  padding: 50px;
}

.titulo h1,
.titulo1 h1 {
  font-weight: 700;
  font-size: 60px;
  color: #ff4081;
}

.titulo h2 {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
}

.titulo1 h2 {
  font-weight: 400;
  font-size: 30px;
  color: #555555;
}

.titulo1 button,
.sessao_6 button {
  width: 275px;
  height: 52px;
  box-sizing: border-box;
  border: 3px solid #ff4081;
  border-radius: 62px;
  background: none;
}

.titulo1 button {
  position: relative;
  top: 40px;
}

.titulo1 a,
.sessao_6 a {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: #ff4081;
}

.curso {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  padding: 70px;
}

.curso img {
  width: 380px;
  height: 385px;
}

.curso h3 {
  font-weight: 700;
  font-size: 35px;
  color: #ff4081;
  padding: 20px;
}

.txt {
  padding: 20px;
}

.curso p {
  font-weight: 300;
  font-size: 18px;
  color: #555555;
  padding: 20px;
}

.curso button {
  position: relative;
  padding: 15px;
  left: 30px;
  top: 20px;
  font-weight: 400;
  font-size: 20px;

  color: #ffffff;
  background-color: #419488;
  border-radius: 62px;
  border: #419488;
}


hr {
    position: relative;
    left: 5%;
  width: 90%;
  max-width: 1200px;
  background-color: #c4c4c4;
}

.sessao,
.sessao_5 {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  background-color: #f6f6f6;
}

.item img {
  width: 220px;
  height: 270px;
}

.sessao {
  padding: 50px;
  text-align: center;
}

.sessao h3 {
  font-weight: 700;
  font-size: 29px;
  padding: 25px;
  text-align: center;
  color: #ff4081;
}

.sessao p {
    padding-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.sessao button {
  border: 2px solid #ff4081;
  background-color: #ff4081;
  border-radius: 62px;
  width: 215px;
  height: 40px;

}

.sessao a {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.sessao_2 {
  padding: 50px;
  font-weight: 400;
  font-size: 25px;
  color: #009688;
}

.sessao_3 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 70px;
  padding: 50px;
  width: 90%;
  max-width: 1440px;
}

.sessao_3 img {
  padding-left: 50px;
}

.sessao_3 p {
  font-weight: 300;
  font-size: 18px;
}

.sessao_4 {
  padding: 40px;
  font-weight: 400;
  font-size: 25px;
  color: #009688;
  background-color: #f6f6f6;
}

.sessao_5 {
  padding: 70px;
}

.item2 img {
  width: 300px;
  height: 150px;
}

.sessao_5 h3 {
  font-weight: 700;
  font-size: 25px;
  color: #009688;
}

.sessao_5 p {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}

.sessao_6 {
text-align: center;
padding: 20px;
background-color: #f6f6f6;

}

footer {
  background-color: #2e948a;
}

footer .container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

footer img {
    padding-left: 80px;
}

footer ul li {
  list-style: none;
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
}

footer li a {
  text-decoration: none;
  color: #ffffff;
}

footer button {
  width: 298px;
  height: 51px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 60px;
  background: none;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .sessao_0,
  .sessao,
  .sessao_5 {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  .sessao_2,
  .sessao_4 {
    text-align: center;
  }
  .sessao_3 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    row-gap: 20px;
    text-align: center;
    justify-content: center;
  }
}
